{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="d-flex">
        <h3 class="me-auto">{% trans "My Pojects" %}</h3>
        <div>
            <a href="{% url 'project_create' %}" class="btn btn-outline-success">
                <i class="bi bi-plus-lg"></i>{% trans "New Project" %}
            </a>
        </div>
    </div>

    {% for project in object_list %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <span class="badge bg-success">
                        {{ project.get_status_display }}
                    </span>
                    <small class="text-muted">
                        {{ project.created_at|naturaltime }}
                    </small>
                </div>

                <h5 class="card-title fw-bold">{{ project.title }}</h5>

                <p class="card-text text-secondary">
                    {{ project.description }}
                </p>

                <hr>

                <div class="d-flex gap-2">
                    <a href="{% url 'project_update' project.id %}">
                        <button class="btn btn-outline-primary btn-sm flex-fill">
                            <i class="bi bi-pencil"></i> {% trans "Edit" %}
                        </button>
                    </a>
                    <a href="{% url 'project_delete' project.id %}">
                        <button class="btn btn-outline-danger btn-sm flex-fill">
                            <i class="bi bi-trash"></i> {% trans "Delete" %}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">{% trans "No projects found" %} &#128546;</h4>
            <p>You don't have any projects yet. Click the button below to create a new one.</p>
            <a href="{% url 'project_create' %}" class="btn btn-primary">Create New Project</a>
        </div>
    {% endfor %}




{% endblock content %}