{% load i18n %}

<ul class="list-group mb-3">
    {% for task in project.task_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <form class="d-flex align-items-center" method="post" action="{% url 'task_update' task.id %}">
                {% csrf_token %}
                <input
                    class="form-check-input me-2"
                    type="checkbox"
                    name="is_completed"
                    {% if task.is_completed %} checked {% endif %}
                    onchange="this.form.submit()"
                />
                <span {% if task.is_completed %} class="text-decoration-line-through text-muted"{% endif %}>
                    {{ task.description }}
                </span>
            </form>
            <form method="post" action="{% url 'task_delete' task.id %}">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger" type="submit">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </li>
    {% endfor %}
</ul>

<form class="d-flex" method="post" action="{% url 'task_create' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ project.id }}" name="project">
    <input class="form-control me-2" type="text" name="description" placeholder="{% trans "New Task" %}" required />
    <button class="btn btn-outline-primary" type="submit">
        {% trans "Add" %}
    </button>
</form>
